#container-1, #container-2 {
    max-height: 30vh;
    overflow-y: auto;
}

#table-container-1 thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}

#table-container-2 thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}